<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalhamento</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="list-content-page">
  <ion-card>
    <ion-card-header>
      {{documento.centroInformacaoModel.numero}}/{{documento.ano}}/{{documento.numero}}
    </ion-card-header>
    <ion-card-content>
      {{ documento.requerente.nome }}
    </ion-card-content>
  </ion-card>

  <ion-list>

    <ion-list-header>
      Histórico do Documento
    </ion-list-header>    

    <button ion-item *ngFor="let mov of historico" (click)="detailMovimentacao(mov)">
        <h2>{{ mov.estagioModel.descricao }}</h2>
        <p class="text-medium"> {{ mov.centroInformacaoOrigemModel.descricao }}</p>
        <ion-note item-end>{{ mov.dataOrigemFormatada }}</ion-note>
    </button> 

  </ion-list>

</ion-content>

