<ion-header>

  <ion-navbar>
    <ion-title>Detalhamento</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      {{documento.centroInformacaoModel.numero}}/{{documento.ano}}/{{documento.numero}}
    </ion-card-header>
    <ion-card-content>
      {{ documento.requerente }}
    </ion-card-content>
  </ion-card>

  
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>
            Histórico:
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>  

    <ion-grid>

      <ion-row>
        <ion-col>
          <strong>Data</strong>
        </ion-col>
        <ion-col>
          <strong>Estágio</strong>
        </ion-col>
        <ion-col>
          <strong>Parecer</strong>
        </ion-col>            
      </ion-row>


      <ion-row *ngFor="let mov of historico">
        <ion-col>
          {{ mov.data | date: 'dd/MM/yyyy' }}
        </ion-col>
        <ion-col>
          {{ mov.estagio }}
        </ion-col>
        <ion-col>
          {{ mov.parecer }}
        </ion-col>            
      </ion-row>   

    </ion-grid>

</ion-content>

